In [1]:
import pandas as pd
import numpy as np

In [4]:
datos=pd.read_csv("C:/Users/lupia/Documents/FACULTADES/MAESTRÍA/DM en economía y finanzas/datasets/competencia_01_crudo.csv")

In [5]:
datos.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,249221109,202101,1,0,0,61,300,1664.94,17994.40,1605.81,...,0.0,4.0,0.0,-37098.90,0.0,7867.0,118514.88,10.0,0.0,76538.25
1,249221468,202101,1,0,0,53,37,4879.78,18640.95,1149.08,...,0.0,4.0,0.0,-9864.93,0.0,1124.0,31427.14,14.0,0.0,0.00
2,249223005,202101,1,0,0,48,202,1828.35,37789.01,610.12,...,0.0,4.0,0.0,-32119.08,0.0,3486.0,855.11,2.0,0.0,19389.69
3,249228180,202101,1,0,0,66,320,175.87,2600.67,276.22,...,0.0,4.0,0.0,-10891.30,0.0,8925.0,7517.73,6.0,0.0,516.12
4,249232117,202101,1,0,0,79,373,16600.69,32270.07,16367.13,...,0.0,4.0,0.0,-43610.75,0.0,8607.0,37309.25,5.0,0.0,3084.99

In [6]:
datos.foto_mes.unique()

array([202101, 202102, 202103, 202104, 202105, 202106])

In [7]:
datos.shape

(981946, 154)

In [9]:
datos_junio=datos[datos.foto_mes==202106]

In [10]:
datos_junio.shape

(164876, 154)

crear una nueva columna que se llame clase ternaria

los ids que estan en enero y no estan en febrero, colocar baja+1

los ids que estan en enero y no estan en marzo, colocar baja+2

los ids que estan en enero y si estan en abril, colocar continua

repetir lo  mismo para febrero, marzo, abril

In [12]:
datos['clase_ternaria']=''

In [14]:
datos.columns

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos',
       'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal',
       'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo',
       'clase_ternaria'],
      dtype='object', length=155)

In [ ]:
datos.loc[(datos['foto_mes']==202101)]

In [17]:
def asignar_clase_ternaria(df, mes_actual, mes_siguiente, mes_dos_meses):
    # Iterar sobre cada cliente en el mes actual
    for index, row in df[df['foto_mes'] == mes_actual].iterrows():
        nro_cliente = row['numero_de_cliente']
        # Verificar si el cliente está en el mes siguiente
        if not df[(df['foto_mes'] == mes_siguiente) & (df['numero_de_cliente'] == nro_cliente)].empty:
            # Verificar si el cliente está en dos meses después
            if not df[(df['foto_mes'] == mes_dos_meses) & (df['numero_de_cliente'] == nro_cliente)].empty:
                df.loc[index, 'clase_ternaria'] = 'CONTINUA'
            else:
                df.loc[index, 'clase_ternaria'] = 'BAJA+2'
        else:
            df.loc[index, 'clase_ternaria'] = 'BAJA+1'
    return df

In [18]:
# Aplicar la función para cada mes
datos = asignar_clase_ternaria(datos, 202101, 202102, 202103)

In [19]:
datos.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,249221109,202101,1,0,0,61,300,1664.94,17994.40,1605.81,...,4.0,0.0,-37098.90,0.0,7867.0,118514.88,10.0,0.0,76538.25,CONTINUA
1,249221468,202101,1,0,0,53,37,4879.78,18640.95,1149.08,...,4.0,0.0,-9864.93,0.0,1124.0,31427.14,14.0,0.0,0.00,CONTINUA
2,249223005,202101,1,0,0,48,202,1828.35,37789.01,610.12,...,4.0,0.0,-32119.08,0.0,3486.0,855.11,2.0,0.0,19389.69,CONTINUA
3,249228180,202101,1,0,0,66,320,175.87,2600.67,276.22,...,4.0,0.0,-10891.30,0.0,8925.0,7517.73,6.0,0.0,516.12,CONTINUA
4,249232117,202101,1,0,0,79,373,16600.69,32270.07,16367.13,...,4.0,0.0,-43610.75,0.0,8607.0,37309.25,5.0,0.0,3084.99,CONTINUA

In [20]:
datos = asignar_clase_ternaria(datos, 202102, 202103, 202104)

In [21]:
datos = asignar_clase_ternaria(datos, 202103, 202104, 202105)

In [22]:
datos = asignar_clase_ternaria(datos, 202104, 202105, 202106)

In [23]:
baja_2_enero = sum((datos['foto_mes'] == 202101) & (datos['clase_ternaria'] == 'BAJA+2'))

In [24]:
baja_2_enero

785

In [25]:
datos.to_csv("C:/Users/lupia/Documents/FACULTADES/MAESTRÍA/DM en economía y finanzas/datasets/competencia_01.csv", index=True)

In [27]:
datos_kaggle=pd.read_csv("C:/Users/lupia/Documents/FACULTADES/MAESTRÍA/DM en economía y finanzas/exp/KA2001/K101_001.csv")

In [29]:
datos_kaggle.shape

(164876, 2)